{
	"telegram": {
		"token": "123456:BOT-TOKEN-HERE"
	},
	"irc": {
		"server": "irc.freenode.net",
		"port": 6697,
		"ssl": true,
		"ipv6": true, // Use IPv6 if possible, optional (defaults to true)
		"nick": "tg_bridge",
		"nickpassword": "s3cret" // NickServ password, omit to disable logging in
	},
	"bridge": {
		"options": {
			"telegram_bold_nicks": true, // make nicks bold in telegram
			"irc_nick_colors": [2, 4, 12], // colorize nicks in IRC, omit to use default color set, use [] to disable
			"forward_sticker_dimensions": false, // show (Sticker, 512x512) instead of (Sticker)
			"forward_document_mime": true, // show (Document, video/mp4) instead of (Document)
			"forward_text_formatting": false // Forward bold and italics formatting (currently only IRC->Telegram)
		},
		"links": [
			// find out the telegram id by adding the bot to a channel and looking at the log
			{"telegram": -123455465, "irc": "#irc_channel"},
			{"telegram": 323443454, "irc": "#irc_channel2"}
		]
	},
	"web_backend": {
		"type": "external", // stub, builtin or external

		// builtin
		"bind": "44.32.11.0", // host to bind to, optional (defaults to 127.0.0.1)
		"port": 8081, // port to bind to
		"use_subdirs": true // whether to spread files to 26 subdirs

		// external
		"webpath": "/var/www/tg", // where to write files
		"baseurl": "http://yourname.me/tg", // external URL of that folder
		"use_subdirs": true // whether to spread files to 26 subdirs
	}
}
